<?xml version="1.0"?>
<partition guid="53447383-C6AD-44C6-9304-FDEAC31D2942" primaryInstance="EB5A28F6-2CD6-4257-AD04-414CEFC3037D" exportMode="All">
	<instance guid="EB5A28F6-2CD6-4257-AD04-414CEFC3037D" type="UI.UIAsset" id="Settings">
		<field name="Name">Menu/settings</field>
		<field name="MemoryReportGroup">MemoryReportGroup_default</field>
		<field name="SourceFile">Menu/settings.swf</field>
		<field name="AtlasTextureFormat">TofDXT5</field>
		<field name="AtlasCount">11</field>
		<field ref="null" name="Config" />
	</instance>
</partition>
